html {
  scroll-behavior: smooth;
}

img {
  max-height: 300px;
} 

#root{
  background-image: url("https://img.freepik.com/premium-vector/potato-chips-seamless-pattern_202271-1106.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

https://cdn2.vectorstock.com/i/1000x1000/22/11/snacks-and-drinks-seamless-pattern-fast-food-vector-22762211.jpg